@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
@model UserViewModel

<h1>
    <span>Hoşgeldiniz <strong>@User.Identity.Name</strong></span>
</h1>
<br />
<br />
<table class="table table-hover">
    <thead>
        <tr>
            <th>Kullanıcı Adı</th>
            <th>Email</th>
            <th>Telefon</th>
            <th>Aksiyon</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.UserName
            </td>
            <td>
                @Model.Email
            </td>
            <td>
                @Model.Phone
            </td>
            <td>
                <a href="~/Member/PasswordChange" class="btn btn-warning">Parola Değiştir</a>
            </td>
        </tr>
    </tbody>
</table>

