@model PasswordChangeViewModel
@{
    ViewData["Title"] = "PasswordChange";
    Layout = "~/Views/Shared/_Member.cshtml";
}
@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<h1>Identity Core Change Password</h1>
<br />
<hr />
<div>
    <form method="post" asp-route-returnurl="@Context.Request.Query["returnURL"]">
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Eski Parola</label>
            <input type="password" class="form-control" asp-for="OldPassword" id="exampleInputPassword1">
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <br />
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Yeni Parola</label>
            <input type="password" class="form-control" asp-for="NewPassword" id="exampleInputPassword1">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <br />
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Parola Tekrar</label>
            <input type="password" class="form-control" asp-for="ConfirmPassword" id="exampleInputPassword1">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <br />
        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
        <button type="submit" class="btn btn-primary">Değişiklikleri Kaydet</button>
    </form>
</div>
<br />
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}
