@model UserEditViewModel
@{
    ViewData["Title"] = "UserEdit";
    Layout = "~/Views/Shared/_Member.cshtml";
}
@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<h1>Identity Core Edit User</h1>
<br />
<hr />
@if (TempData["Success2"] != null)
{
    <div class="alert alert-success">
        @TempData["Success2"]
    </div>
}
<div>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Kullanıcı Adı</label>
            <input type="text" class="form-control" asp-for="UserName" id="exampleInputPassword1">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <br />
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input type="text" class="form-control" asp-for="Email" id="exampleInputPassword1">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <br />
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Telefon</label>
            <input type="text" class="form-control" asp-for="Phone" id="exampleInputPassword1">
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <br />
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Şehir</label>
            <input type="text" class="form-control" asp-for="City" id="exampleInputPassword1">
        </div>
        <br />
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Doğum Tarihi</label>
            <input type="date" class="form-control" asp-for="BirthDay" id="exampleInputPassword1">
        </div>
        <br />
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Cinsiyet</label>
            <select class="form-control" asp-for="Gender" asp-items="ViewBag.genderlist">
                <option value="">Cinsiyet Seçiniz</option>
            </select>
        </div>
        <br />
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Görsel</label>
            <input type="file" class="form-control" asp-for="Picture" id="exampleInputPassword1">
        </div>
        <br />
        <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
        <button type="submit" class="btn btn-primary">Değişiklikleri Kaydet</button>
    </form>
</div>
<br />
