@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<h1>Identity Core Reset Password</h1>
<br />
<hr />
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-info" role="alert">
        @TempData["SuccessMessage"]
    </div>
}
<br />
<br />
<form method="post">
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Parola</label>
        <input type="password" class="form-control" asp-for="Password" id="exampleInputPassword1">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Parola Tekrar</label>
        <input type="password" class="form-control" asp-for="PasswordConfirm" id="exampleInputPassword1">
        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
    </div>
    <br />
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
    <button type="submit" class="btn btn-primary">Şifre Yenile</button>
</form>