@model SignInViewModel
@{
    ViewData["Title"] = "SignIn";
}
<h1>Identity Core Login</h1>
<br />
<hr />
<form method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input type="email" class="form-control" asp-for="Email" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Parola</label>
        <input type="password" class="form-control" asp-for="Password" id="exampleInputPassword1">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" asp-for="RememberMe" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Beni Hatırla</label>
    </div>
    <br />
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
    <button type="submit" class="btn btn-primary">Giriş Yap</button>
</form>
