@model SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
}
@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}

<h1>Identity Core Register</h1>
<br />
<hr />
@if (!string.IsNullOrEmpty(ViewBag.successmessage))
{
    <div class="alert alert-info" role="alert">
        @ViewBag.successmessage
    </div>
}
<br />
<br />
<form method="post">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Kullanıcı Adı</label>
        <input type="text" class="form-control" asp-for="UserName" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Telefon</label>
        <input type="text" class="form-control" asp-for="Phone" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email Adresi</label>
        <input type="email" class="form-control" asp-for="Email" id="exampleInputEmail1" aria-describedby="emailHelp">
        <span asp-validation-for="Email" class="text-danger"></span>
        <div id="emailHelp" class="form-text">Emailinizi Kimseyle Paylaşmayacağız.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Parola</label>
        <input type="password" class="form-control" asp-for="Password" id="exampleInputPassword1">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Parola Tekrar</label>
        <input type="password" class="form-control" asp-for="PasswordConfirm" id="exampleInputPassword1">
        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
    </div>
    <br />
    <div class="alert alert-danger" asp-validation-summary="ModelOnly"></div>
    @* <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Beni Hatırla</label>
    </div>*@
    <button type="submit" class="btn btn-primary">Kayıt Ol</button>
</form>

